body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*background-color: #0a364c;*/
  background-color: rgb(42, 41, 41);
  color: white;
}

/* buttons size for all */
button {
    padding: 32px;
    width: 100%;
    font-size: 16px;
    border-color: transparent;
}

button:hover {
    background:#c5a595;
    transform: scale(.95);
}

.box button {
    font-size: 14px;
    box-sizing: border-box;
    padding: 17px 25px;
    border-radius: 5px;
    flex-grow: 1;
    font-family: Karla, Arial, Helvetica, sans-serif;
    color: black;
}



.container {
    padding: 15px;
    border: 2px solid  #134f6d;
    border-radius: 10px;
    background: #236b8e;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 264px;
}

.erasers {
    display: flex;
    gap: 10px;
}

#clear, #delete {
    flex: 1;
    padding: 15px 20px;
    font-size: 12px;
    border-radius: 10px;
    font-family: Karla, Arial, Helvetica, sans-serif;
}

.numNope {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.screen{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    padding-bottom: 10px;
    font-size: 30px;
    background: #4E4e4e;
    border-radius: 10px;
    height: 60px;
    flex-wrap: wrap;
    overflow: scroll;
}
#backScreen {
    font-size: 16px;
}

#mainScreen {
    font-size: 24px;
}

#dec{
    padding-right: 29px;
}